@charset "UTF-8";

@font-face {
    font-family: 'Bebas Neue';
    src: url(BebasNeue-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Antonio';
    src: url(Antonio-Bold.ttf);
}

@font-face {
    font-family: 'Organical';
    src: url(ORGANICAL\ PERSONAL\ USE.ttf) format(truetype);
}

@font-face {
    font-family: 'Blazed';
    src: url(Blazed.ttf) format(truetype);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #12DBBC;
    color: #386886;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'Organical', cursive;
}

span {
    border: 4px solid #355C56;
    text-align: center;
    min-width: 8px;
    max-width: 10px;
    padding: 5px;
    padding: 8px;
}

.pequena {
    padding: 4.6px;
}

div {
    min-width: 150px;
    max-width: 300px;
    margin: auto;
}

div  > p#justy {
    text-align: justify;
}

p {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}

aside > p {
    text-align: justify;
}

aside {
    background-color: #128EDB;
    color: aliceblue;
    font-weight: bold;
    border-radius: 3px;
    text-indent: 6px;
    margin: auto;
    max-width: 1000px;
    padding-bottom: 20px;
}

aside > a {
    background-color: #DBB012;
    border-radius: 50px;
    color: aliceblue;
    padding: 10px;
}

.normal {
    border: 2px solid ;
}

footer {
    background-color: #386886;
    color: #12DBBC;
    text-indent: 20px;
    text-align: justify;
}

#p {
    border: 0px solid black;
    margin-top: 20px;
    display: block;
}

#saber {
    text-decoration: none;
}

#saber:hover {
    text-decoration: underline;
    color: #12DBBC;
}

main p#whats {
    background-color: #386886;
    color: aliceblue;
    padding-bottom: 10px;
    border: 5px solid #386886;
    outline: 8px solid #128EDB;
    text-indent: 10px;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
    margin-bottom: 40px;
    text-align: justify;
    border-radius: 0px 0px 20px 20px;
}

h3 {
    font-family: 'Bebas Neue';
    font-size: 1.8em;
}

h2, h3 {
    font-weight: 900;
}

main abbr > a {
    color: #12DBBC;
    text-decoration: none;
}

main abbr {
    text-decoration: none;
}

main a:hover {
    color: aliceblue;
    text-decoration: underline;
}