@charset "UTF-8";

@font-face {
    font-family: 'Bebas Neue';
    src: url(BebasNeue-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Organical';
    src: url(ORGANICAL\ PERSONAL\ USE.ttf) format(truetype);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #12DBBC;
    color: #386886;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'Organical', cursive;
}

main abbr > a {
    color: #12DBBC;
    text-decoration: none;
}

main abbr {
    text-decoration: none;
}

main a:hover {
    color: aliceblue;
    text-decoration: underline;
}

td {
    font-weight: bold;
    font-size: 17px;
    border: 1px dashed #355C56;
    width: 35px;
    height: 35px;
    padding: 10px;
    text-align: center;
}

caption {
    border-top: 2px solid #355C56;
    border-left: 2px solid #355C56;
    border-right: 2px solid #355C56;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.699);
    border: 2px solid rgba(255, 255, 255, 0.699);
    border-radius: 5px;
    transition-duration: 0.7s;
}

.domingo {
    color: rgb(216, 0, 0);
    font-weight: normal;
}

td > a {
    text-decoration: none;
    color: #386886;
}

td > a:hover {
    color: #386886;
    text-decoration: none;
}

td.domingo > a {
    color: rgb(216, 0, 0);
    font-weight: normal;
}

td.domingo:hover {
    color: red;
}


p {
    font-size: 20px;
    font-weight: bold;
}

h2, caption {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}

aside > p {
    text-align: justify;
}

aside {
    background-color: #128EDB;
    color: aliceblue;
    font-weight: bold;
    border-radius: 3px;
    text-indent: 6px;
    margin: auto;
    max-width: 1000px;
    padding-bottom: 20px;
}

aside > a {
    background-color: #DBB012;
    border-radius: 50px;
    color: aliceblue;
    padding: 10px;
}

span#p {
    border: 0px solid black;
    text-align: justify;
    padding-left: 20%;
    margin-top: 15px;
    display: block;
}

#saber {
    text-decoration: none;
}

#saber:hover {
    background-color: #c9a628;
    color: rgb(231, 230, 230);
}

#saber:active {
    box-shadow: inset -1px -1px 3px 3px rgb(73, 71, 71);
     color: rgb(209, 209, 209);
    background-image: linear-gradient(to left, #bda037 25%, #c9a628);
}

table {
    margin: auto;
    border: 3px solid #355C56;
    border-collapse: collapse;
    text-align: center;
}

main p#whats {
    background-color: rgb(70, 233, 70);
    background-image: url(simbolo-whatsapp.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    border-radius: 30px 0px;
    color: #12DBBC;
    height: 200px;
    margin: auto;
    background-color: #386886;
    color: aliceblue;
    border: 5px solid #386886;
    outline: 8px solid #128EDB;
    text-indent: 15px;
    max-width: 500px;
    min-width: 150px;
    margin: auto;
    margin-bottom: 40px;
    text-align: justify;
    border-radius: 0px 0px 20px 20px;
}

div#atencao {
    background-color: red;
    color: white;
    border-radius: 20px;
    margin: auto;
    min-width: 150px;
    max-width: 900px;
}

div#atencao > p {
    padding-bottom: 20px;
}

p#whats > span {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #386886;
    min-width: 360px;
    transform: translate(-45%, -50%);
}

h3 {
    font-family: 'Bebas Neue';
    font-size: 1.8em;
}

h2, caption, h3 {
    font-weight: 900;
}

footer {
    background-color: #386886;
    color: #12DBBC;
    text-indent: 20px;
    text-align: justify;
}

footer a {
    color: #12DBBC;
    text-decoration: none;
}

footer a:hover {
    color: aliceblue;
    text-decoration: underline;
}